|  以下のタスクを作成しました。
= "\n"
|  研修名:
=@post.title
= "\n"
|  研修詳細:
=@post.sentence
= "\n"
|  都道府県
=@post.category_id
= "\n"
|  場所:
=@post.place
= "\n"
|  イメージ画像:
=@post.image
= "\n"
|  持ち物:
=@post.belongings
= "\n"
|  日程:
=@post.schedule
= "\n"
|  開始時刻:
=@post.time
= "\n"
|  終了時刻:
=@post.endtime
= "\n"
|  定員:
=@post.capacity
= "\n"
|  参加費:
=@post.fee
= "\n"
|  主催者:
=@post.user_id
= "\n"
