<div class="postTitle">
  <%= @user.first_name %>さんの投稿一覧
    <%# <% @user.posts.each do |post| %>
    <%# <%= render partial: "posts", locals: { post: post } %> 
    <%# <% end %> 
    <%# <%= paginate(@posts) %> 
</div>