<div class="entryTitle">
  <div class="entryTitle-new">
  研修名<br>「<%= @post.title %>」への申し込みができました。
  </div>
  <div class="entry">
  <%=link_to "トップページに行く", root_path, class:"createconfirmation" %>
  </div>
</div >