.wrapper{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  .study{
    width: 100vw;
    flex: 1;
    background-color: white;
    .study-main{
      display: block;
      box-sizing: border-box;
      background-color: white;
      .study-image{
        height: 300px;
        background-size: cover;
        background-image: url(/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
      }
      .study-main-new{
        width: 70%;
        margin: 0 auto;
        display: flex;
        .study-main-left{
          width: 45%;
          .container{
            width: 264px;
            text-align: left;
            margin-top: 12px;
            margin-bottom: 36px;
            -webkit-font-smoothing: antialiased;
            list-style-type: none;
            .search{
              width: 250px;
            }
            label[for="q_日付で検索"]{
              margin-top: 25px;
              width: 50%;
              height: 25px;
            }
            #q_schedule_gteq{
              width: 55%;
            }
            #q_schedule_lteq{
              width: 55%;
            }
            .record-form__submit-button{
              margin-top: 20px;
            }
            #q_schedule_1i{
              width: 56%;
              margin: 15px 0 0 48px;
              height: 40px;
            }
            
            .date_year{
              width: 55%;
              height: 30px;
              margin-left: 50px;
            }
            .record-form__submit-button{
              width: 250px;
            }
            label[for="q_地域で絞り込み"]{
              margin-top: 25px;
              width: 50%;
              height: 25px;
            }
            .listing-select-wrapper__box--select{
                font-family: inherit;
                font-size: 100%;
                margin: 0;
                width: 254px;
                margin-top: 20px;
                height: 40px;
                margin-left: 50px;
                background: white;
            }
          }          
        }
        .study-main-right{
          width: 81%;
          margin-left: 30px;
          .label-search{
            display:flex;
            .label{
              height: 40px;
              width: 50%;
              padding: 0.5em 1em;
              margin: 24px 0;
              color: #232323;
              border-left: solid 5px #00A4BB;;
              font-size: 22px;
              line-height: 22px;
              font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
            }
            .container{
              margin: 24px 0 0 40px; 
              display: flex;
              .post_search{
                width: 690px;
                label[for="q_title_or_place_or_target"]{
                  margin-top: 20px;
                }
                #q_title_or_place_or_belongings_or_sentence_or_schedule_cont{
                  margin-top: 20px;
                }
                .search{
                  width: 400px;
                  float: left;
                  margin: 0px auto;
                  height: 40px;
                  margin-left: 50px;
                  margin-top: 20px;
                  .record-form__submit-button{
                    width: 150px;
                  }
                }
              }
              .search_container{
                float: right;
                box-sizing: border-box;
                // position: relative;
                border: 1px solid #999;
                display: block;
                padding: 3px 10px;
                border-radius: 20px;
                height: 2.3em;
                width: 260px;
                overflow: hidden;
              }
              .search_container input[type="text"]{
                border: none;
                height: 2.0em;
                margin: auto;
              }
              .search_container input[type="text"]:focus {
                outline: 0;
              }
              .search_container input[type="submit"]{
                cursor: pointer;
                font-family: FontAwesome;
                font-size: 1.3em;
                border: none;
                background: none;
                color: #00A4BB;;
                position: absolute;
                width: 2.5em;
                height: 2.5em;
                right: 0;
                top: -10px;
                outline : none;
              }
          }
          }
          .studies{
            height: auto;
            padding: 20px 0;
            .inner{
              cursor: pointer;
              width: 100%;
              padding-bottom: 30px;
              // position: relative;
              border-bottom: 1px solid #e3e3e3;
              .studies_title{
                cursor: pointer;
              }
              .box{
                max-width: 100%;
                height: auto;
                margin-bottom: 20px;
              }
              .detail{
                color: black;
                a{
                  text-decoration: none;
                }
                .project-detail{
                  background-color: white;
                  padding: 0 10px;
                }
                .project-title{
                  font-size: 22px;
                  font-weight: 600;
                  line-height: 1.4;
                  margin-bottom: 8px;
                  margin-top: 10px;
                  color: black;
                  .studies_title{
                    color: black;
                    cursor: pointer;
                  }
                }
                .project-title a:hover {
                  color: #00A4BB;;
                }
                .project-excerpt{
                  line-height: 1.5;
                  color: #9DA0A4;
                  margin-bottom: 14px;
                  font-size: 14px;
                  font-weight: 400;
                  word-wrap: break-word;
                  overflow: auto;
                }
                .organizername{
                  font-size: 13px;
                  font-family: monospace;
                  margin-left: 10px;
                }
                .place{
                  font-size: 13px;
                  background-color: lightgrey;
                  padding-left: 10px;
                  padding-top: 5px;
                  font-family: "Avenir","Arial",sans-serif;
                }
                .target{
                  height: 44%;
                  margin-top: 60px;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                #post_target_ids_1{
                  margin: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}